.search-label {
    margin-right: 2%;
}

.search {
    font-family: Magilio;
}

.search-input {
    border:0;
    border-bottom: 2px solid rgb(8, 8, 8);
    outline: 0;
    padding: 1%;
    height: 38px;
    background: rgb(255, 255, 255);
}